{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="cover-text">
                        <h2>Book a table at our place:</h2>
                    </div>
                    <form id="red" action="../book/forms.py" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Book a table">
                    </form>
                
                </div>
            </div>    
        </div>        
    </div>
</div>
{% endblock %}